<div class="wrapper">
  <div class="navigation-wrapper">
    <h1>Navigationssystem</h1>

    <nav mat-tab-nav-bar backgroundColor="primary">
      <a mat-tab-link *ngFor="let item of navItems$ | async"
        [routerLink]="'/' + item.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{item.title}}
      </a>
    </nav>
  </div>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="button-wrapper">
    <button *ngIf="prevLink$ | async as prev" [routerLink]="'/' + prev.route">Zurück zu {{prev.title}}</button>
    <span></span>
    <button *ngIf="nextLink$ | async as next" [routerLink]="'/' + next.route">Weiter zu {{next.title}}</button>
  </div>
</div>





